/* Button css */
.btn{   
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        /* Top & Bottom =  15px Left & Right = 40px */
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;

        // Change for <button> element
        border: none;
        cursor: pointer;
    }

    /* When we hover */
    &:hover{
        /* Moves in Opposite direction to Y-axis */
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        &::after {
            /* Sacle just increases the element */
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    /* When we clicked */
    &:active,
    &:focus {
        outline: none;
        /* It will move little down after clicking */
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }
    
    &--green {
        background-color: $color-primary;
        color: $color-white;
        &::after {
            background-color: $color-primary;
        }
    }


    /*
    Pseudo ELements:
    This create the virtual element which can be styled differently with different events (like :hover, :active etc) 
    */
    /* This will start after we done something with button (like :hover, :active(click) */
    &::after {
        /* Necessary Property */
        content: "";
        display: inline-block;
        /* Same as it was before */
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        /* z-index: It defines the position of elements if they are one onn top of another*/
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottomUp .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        // This is possible because of inline-block
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        // X-direction, Y-direction, Blur, color
        box-shadow: 0 1rem 2rem rgba($color-black, .20);
        transform: translateY(-2px);
    }   

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .5);
        transform: translateY(0);
    }
}